body{
    background: #f7f4f0
}
*{
    margin: 0px;
}
.text{
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    text-decoration: none;
}
.title{
    text-align: center;
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.25;
    margin-bottom: 1rem;
}
.menu {
    background-color: #3f2916;
    
    list-style-type: none;
}
.text_menu{
    color: #d6c0ab;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 1000;
    text-decoration: none;
}
.down{
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

