body{
    background: #f7f4f0
}
*{
    margin: 0px;
}

.catalog-menu a{
    text-decoration: none;
    margin: 15px;
}
.text{
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 10px;
}
.title{
    text-align: center;
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.25;
    margin-bottom: 20px;
    margin-top: 20px;
}
.header {
    background-color: #3f2916;
    height: 65px
}

.logo{
    float:left;
    margin: 5px 
}
.header a{
    color: #d6c0ab;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 1000;
    text-decoration: none;
    margin-left: 10px;
        
}

.header li {
    display: inline-block;
    margin: 20px;
    text-align: center;
}
.header a:hover{
    color:darkorange;
}

.header a:active{
    color: goldenrod
}

.header img{
    margin-left: 10px;
}


.text input{
    color: #3f2916;
    background-color: floralwhite; 
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: capitalize;
}



.text textarea{
    color: #3f2916;
    background-color: floralwhite; 
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: capitalize;
}

.text button{
    color: #3f2916; 
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.item-menu a img:hover{
    outline: 1px solid #3f2916
}

.table td{
    border: 2px solid #3f2916;
    padding-left: 10px;
    text-align: center;
}

.container{
    margin: 20px;
    background-color: white;
    height: 350px;
    width: 1000px;
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    text-decoration: none;
    
}
.container h1{
    text-align: center;
    margin: 10px;
}
.item-menu{
    float: left;
    background-color: white;
    margin: 10px;
    padding: 10px
}

.product{
    overflow: hidden;
    padding: 10px;
    
    width: 440px
}

.product button{
    text-decoration: none;
    margin: 15px;
    height: 40px;
    color: white;
    background-color: darkorange;
    user-select: none;
    border: 0;
    font-weight: 1000;
}

.product button:hover{
    background-color: white;
    color: darkorange;
    outline: 3px solid orange;
} 

.product h4{
    margin: 10px;
}


.footer{
    color: #3f2916;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 0.833rem;
    line-height: 1.2rem;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    clear: both;
}

